/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

.container {
  display: flex;
  flex-direction: column;
}

.details {
  display: flex;
  flex-direction: column;
}

.Heart {
  color: black;
}

.ButtonFav {
  float: right;
  background-color: none;
  color: black;
  border-color: rgb(204, 204, 18);
}
.ButtonFav:hover {
  float: right;
  border-color: rgb(204, 204, 18);
  background-color: rgb(204, 204, 18);
  color: black;
}

.ButtonFav:focus {
  float: right;
  border-color: rgb(204, 204, 18);
  background-color: rgb(204, 204, 18);
  color: black;
  box-shadow:none !important;
  outline:0px !important;
}

.btn-primary {
  background-color: white;
  color: #0d6efd;
}

.dropdown-toggle {
  margin-left: 580%;
}

div.charctersRow {
  display: flex;
  width: auto;
  overflow-x: scroll;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

div.planetsRow {
  display: flex;
  width: auto;
  overflow-x: scroll;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
div.vehiclesRow {
  display: flex;
  width: auto;
  overflow-x: scroll;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.card {
  padding: 0.75rem;
  margin: 2rem;
  flex-grow: 0;
  flex-shrink: 0;
}

h1 {
  color: red;
}

.delete {
  background: none;
  border-color: none;
  border: none;
}
.delete:active {
  background: none;
  border-color: none;
  border: none;
}

.delete:hover {
  background: none;
  border-color: none;
  border: none;
}

.bi.bi-trash {
  color: black;
}

hr {
  color: red;
}

.image {
  float: left;
  padding: 25px;
}
